# Initial Modelling for Ames Iowa Housing Dataset

## Goals
- Train models with minimally processed dataset to get understand of baseline performance
- Identify which models seem more promising for given dataset

## Imports

In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import KFold, cross_val_score
from sklearn.metrics import mean_squared_error
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import RobustScaler

from sklearn.linear_model import ElasticNetCV, LassoCV, RidgeCV
from sklearn.svm import SVR
from sklearn.cluster import KMeans
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from xgboost import XGBRegressor
from lightgbm import LGBMRegressor

## Reading Data

In [12]:
train = pd.read_csv('train_processed.csv')
test = pd.read_csv('test_processed.csv')

In [13]:
features = train.iloc[:, :-1]
target = train.iloc[:, -1]

In [14]:
test

,Unnamed: 0,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,ExterQual,ExterCond,...,SaleCondition_Normal,SaleCondition_Partial,SaleType_CWD,SaleType_Con,SaleType_ConLD,SaleType_ConLI,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD
0,0,80,67.412691,5,4.284374,1961,1961,0.000000,3,3,...,1,0,0,0,0,0,0,0,0,1
1,1,81,72.474158,6,4.284374,1958,1958,2.611418,3,3,...,1,0,0,0,0,0,0,0,0,1
2,2,74,71.683448,5,3.684399,1997,1998,0.000000,3,3,...,1,0,0,0,0,0,0,0,0,1
3,3,78,63.869550,6,4.284374,1998,1998,2.048813,3,3,...,1,0,0,0,0,0,0,0,0,1
4,4,43,49.943348,8,3.684399,1992,1992,0.000000,4,3,...,1,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1454,1454,21,35.393588,4,4.861304,1970,1970,0.000000,3,3,...,1,0,0,0,0,0,0,0,0,1
1455,1455,21,35.109861,4,3.684399,1970,1970,0.000000,3,3,...,0,0,0,0,0,0,0,0,0,1
1456,1456,160,81.618352,5,4.861304,1960,1996,0.000000,3,3,...,0,0,0,0,0,0,0,0,0,1
1457,1457,62,64.904196,5,3.684399,1992,1992,0.000000,3,3,...,1,0,0,0,0,0,0,0,0,1
1458,1458,74,63.063831,7,3.684399,1993,1994,2.573731,3,3,...,1,0,0,0,0,0,0,0,0,1